@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=WindSong:wght@400;500&display=swap');

.tong {
    width: 500px;
    height: 600px;
    position: relative;
    margin-left: 10%;
    /* border: 3px solid red; */
}

.trai img {
    width: 700px;
    height: 650px;
}

.phai {
    /* border: 1px solid red; */
    width: 400px;
    height: 650px;
    text-align: center;
    margin-left: 140%;
    margin-top: -131%;
}

h2 {
    margin-top: 35%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}
.cn1 p{
    margin-left: -70%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
.cn1 .ra{
    margin-top: -8%;
    margin-left: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}
p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
p .a1{
    text-decoration: none;
    color: #FFA40F;
}
.phai .email{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    border: 2px solid gainsboro;
}
.tkoan{
    position: relative;
    width: 280px;
    margin-left: 12%;
    padding: 10px;
}
.ema {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-180%);
    background-color: white; /* Đảm bảo label không bị đè */
    color: #757575;
    font-size: 14px;
    padding: 0 5px;
    pointer-events: none;
    /* transition: 0.2s ease-in-out; */
}
.btn1{
    margin-top: 20px;
    width: 290px;
    height: 35px;
    border: 1px solid #FFA40F;
    border-radius: 10px;
    background-color: #FFA40F;
    color: white;
    cursor: pointer;
}

.mkhau{
    position: relative;
    width: 280px;
    margin-left: 12%;
    /* text-align: center; */
    
}
.mk1 .mk2{
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    border: 2px solid gainsboro;
}
.pass {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-250%);
    background-color: white; /* Đảm bảo label không bị đè */
    color: #757575;
    font-size: 14px;
    padding: 0 5px;
    pointer-events: none;
    /* transition: 0.2s ease-in-out; */
}
.ico{
    margin-left: 95%;
    transform: translateY(-150%);
    font-size: 22px;
    color: #4C4E64;
}

.tk1{
    /* margin-left: -24%; */
    font-size: 13px;
}
.luu{

}
.tk1 a{
    margin-left: 35%;
    /* transform: translateX(30%); */
    font-size: 13px;
    margin-top: -10px;
    text-decoration: none;
    color: #FFA40F;
}
