@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=WindSong:wght@400;500&display=swap');
html, body{width: 100%; height: 100%; margin: 0; padding: 0;}
.phandau{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    border: 1px solid gainsboro;
    background-image: url("/img/h1.png");
}
.left{
    width: 11%;
    height: 45px;
}
.logo1 .img1{
    width: 130px;
    height: 45px;
    margin-left: 12px;
    margin-top: 10px;
}
.logo2 .img2{
    width: 120px;
    height: 40px;
    margin-top: 12px;
    margin-right: 40px;
}

.right{
    width: 20%;
    margin-left: 75%;
    margin-top: -45px;
    display: flex;
}   
.right i{
    font-size: 27px;
    color: black;
}
.right .account{
    margin-left: 10px;
    /*margin-top: -30px; */
    display: flex;
    
}
.account .name{
    margin-left: 10px;
    
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* Khoảng cách  */
}
.name .names{
    /* font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal; */
    margin-top: 3px;
}
.name .box{
    color: black;
    font-size: 30px;
    margin-top: -1px;
}

.trai{
    justify-content: space-between;
    margin-top: 15px;
    border: 1px solid gainsboro;
    width: 20%;
    height: 89%;
    padding: 0;
}
.trai a{
    text-decoration: none;
    color: black;
    gap: 10px;
    padding: 10px 10px;
}
.trai .chucnang{
    position: relative;
}
.chucnang{
    display: inline-block;
    padding: 15px;
}
/* .chucnang .pduoi{
    border: 1px solid blue;
}
.pduoi{
    visibility: hidden;
    position: absolute;
    z-index: 10;
    width: 120px;
    height: 150px;
    top: 10%
}
.chucnang:hover .pduoi{
    visibility: visible;
} */

.chucnang a.ptren{
    text-decoration: none;
    color: white;
    text-transform: uppercase; /* chuyển tất cả về chữ hoa */
    font-weight: 500;
    display: inline-block;
    padding: 10px;
}
.chucnang a.ptren:hover{
    background-color: #A3CB38;
}
/* .chucnang a.ptren i{
    /* padding-left: 50px; 
    margin-left: 50px;
    font-size: 20px;
} */
.chucnang .pduoi{
    width: 250px;
    position: absolute;
    left: 0;
    visibility: hidden; /* dùng để ẩn mấy thanh dưới khi chưa bật ra*/
    border-top: 2px solid #85a52d;
    /* top: 80px; */
    z-index: 10;/* dùng để hiện thanh menu*/
}
/* .chucnang:hover .pduoi{
    visibility: visible; /* dùng để hiện đối tượng khi bấm vào thanh8*/
    transition: 0.2s;
    top: 50px;
    top: 100%;
    left: 0;
    margin-top: 10px;
} */
.pduoi a{
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    background-color: white;
}
.pduoi a:hover{
    color: white;
    background-color: #A3CB38;
}
.pduoi{
    
}